<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $favicon := resources.Get "favicon.svg" }}
    <link rel="icon" href="{{ $favicon.RelPermalink }}">
    {{ $style := resources.Get "scss/custom.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $prism := resources.Get "css/prism.css" }}
    <link rel="stylesheet" href="{{ $prism.RelPermalink }}" />
    {{ $fonts := resources.Get "css/fonts.css" }}
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}" />
    {{ partial "seo/print.html" . }}
    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
</head>
